<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@(column.Key == ViewBag.Check)"/>

                       @* if the column.Key is == to ViewBag.Check, then it'll mark that radio button 'checked' *@

                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.jobs != null)
{

    <h3>@ViewBag.jobs.Count Result(s)</h3>

    // TODO #2 - Loop over jobs dictionary and display all job fields
    @foreach (Dictionary<string, string> row in ViewBag.jobs)
    {
        <table class="job-listing">
            @foreach (string key in row.Keys)
            {
                <tr>
                    @* Next line will uppercase the first letter of each 'key' *@
                    <td>@(key.Substring(0, 1).ToUpper())@(key.Substring(1, key.Length - 1))</td>
                    <td>
                        @if (key != "name")
                        {
                            <a asp-controller="List" asp-action="Jobs" asp-route-column="@key" asp-route-value="@row[key]">@row[key]</a>
                        }
                        else
                        {
                            @row[key]
                        }

                    </td>
                </tr>
            }
        </table>

    }

}
